:root {
  --aside-color: rgb(102, 152, 228);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  display: grid;
  /* grid: "aside header" 1fr "aside main" 4fr / 1fr 4fr; */
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "aside right";
}

li {
  list-style-type: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

.right {
  grid-area: right;
}

.branding {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

nav {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 50px;
}

ul {
  display: grid;
  gap: 20px;
}

.branding,
li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  text-align: left;
  align-items: center;
}

.lower-header .avatar {
  height: 100px;
  clip-path: circle();
}

.upper-header .avatar,
.trending .avatar {
  height: 60px;
  clip-path: circle();
}

aside {
  background-color: var(--aside-color);
  color: white;
  font-weight: bold;

  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px;
  gap: 50px;
}

aside .icon {
  filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(32deg)
    brightness(108%) contrast(106%);
  height: 75%;
}

main {
  background-color: rgb(232, 236, 240);
}

[type="search"] {
  border-color: rgb(207, 207, 207);
  background-color: rgb(232, 236, 240);
  border-style: none;
  border-radius: 20px;
  width: 100%;
}

button {
  background-color: var(--aside-color);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

[type="file"] {
  visibility: collapse;
  /* position: absolute; */
  width: 110px;
}
[type="file"]::before {
  visibility: visible;
  position: static;
  content: "Upload";
  display: inline-block;
  background-color: var(--aside-color);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}
