:root {
  --aside-color: rgb(102, 152, 228);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  font-weight: normal;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  display: grid;
  /* grid: "aside header" 1fr "aside main" 4fr / 1fr 4fr; */
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "aside right";
}

p {
  color: grey;
  font-weight: normal;
}

li {
  list-style-type: none;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

.right {
  grid-area: right;
}

.branding {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  margin-left: -15px;
}

nav {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 50px;
}

ul {
  display: grid;
  gap: 20px;
}

.branding,
li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  text-align: left;
  align-items: center;
}

.lower-header .avatar {
  height: 100px;
  clip-path: circle();
}

.upper-header .avatar,
.trending .avatar {
  height: 60px;
  clip-path: circle();
}

aside {
  background-color: var(--aside-color);
  color: white;
  font-weight: bold;

  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px;
  gap: 50px;
  font-size: 1.4em;
}

aside .icon {
  filter: invert(100%) sepia(0%) saturate(7461%) hue-rotate(32deg)
    brightness(108%) contrast(106%);
  height: 75%;
}

main {
  background-color: rgb(232, 236, 240);
  display: grid;
  grid-template: 2fr 1fr / 3fr 1fr;
}

[type="search"] {
  border-color: rgb(207, 207, 207);
  background-color: rgb(232, 236, 240);
  border-style: none;
  border-radius: 20px;
  width: 100%;
  height: 2em;
  padding: 3px 15px;
}

button {
  background-color: var(--aside-color);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
}

[type="file"] {
  visibility: collapse;
  /* position: absolute; */
  width: 130px;
}
[type="file"]::before {
  visibility: visible;
  position: static;
  content: "Upload";
  display: inline-block;
  background-color: var(--aside-color);
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;

  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
}

header {
  display: grid;
  gap: 0px;
  padding: 0 50px;
  font-weight: 600;
  box-shadow: 2px 2px 2px 2px rgba(173, 173, 173, 0.192);
  position: relative;
  z-index: 1;
}

.upper-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  /* justify-content: space-between; */
}

.header-upper-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.header-upper-right {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 1.3em;
}

.lower-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.buttons {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
}

.lower-header-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  padding: 25px 15px;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.project-cards {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.project {
  background: rgb(255, 182, 105);
  background: linear-gradient(
    90deg,
    rgba(255, 182, 105, 1) 2%,
    rgba(255, 255, 255, 1) 2%
  );
  border-radius: 10px;
  padding: 25px;
  display: grid;
  grid-template: auto 1fr auto / 1fr auto auto auto;
  column-gap: 30px;
  row-gap: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.096);
}

.project > h3 {
  grid-area: 1 / 1 / 2 / 5;
}

.project > p {
  grid-area: 2 / 1 / 3 / 5;
}

.project > img:first-of-type {
  grid-area: 3 / 2 / 4 / 3;
}

.project > img:nth-of-type(2) {
  grid-area: 3 / 3 / 4 / 4;
}

.project > img:nth-of-type(3) {
  grid-area: 3 / 4 / 4 / 5;
}

.announcements {
  padding: 25px 15px;
  display: grid;
  gap: 10px;
}

.trending {
  padding: 25px 15px;
  display: grid;
  gap: 10px;
}

.main-aside-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: grid;
  gap: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.096);
}

.announcement:not(:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgb(207, 206, 206);
}

.announcement {
  display: grid;
  gap: 10px;
}

.trending-project {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
}

.project h3 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
}

.main-aside,
.main-aside p {
  font-size: 0.9em;
}

.trending img {
  width: 60px;
}
